[v-cloak] {
    display: none;
}

body {
    margin: 0;
    background-color: grey;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nav-bar-div {
    background-color: black;
    height: 5vh;
}

#nav-bar-text-div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.nav-bar-text {
    color: red;
    font-family: monaco, monospace;
    font-size: 250%;
    text-decoration: underline;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}